 .latest .item .title {
     font-size: 21px;
     margin-top: 0;
     line-height: 1.2;
     text-transform: capitalize;
     margin-bottom: 0;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: 'Mukta Vaani';
     font-weight: normal;
     color: #333;
 }
 .latest .item .title a {
     color: #444;
 }
 .list ul li {
     margin-bottom: 15px;
     border-bottom: 1px solid #ddd;
     padding-bottom: 15px;
 }
 .header {
     padding: 10px 0 8px 0;
     background: #fff;
     border: none;
 }
 .header .profile-content .name {
     color: #49515a;
     font-size: 32px;
     margin-bottom: 5px;
     margin-top: 15px;
 }
 .header .profile-content .desc {
     color: #778492;
     font-family: "Lato", arial, sans-serif;
     font-weight: 400;
     font-size: 18px;
     margin-top: 0;
     margin-bottom: 15px;
 }
 .header .btn {
    margin-top: -7px;
 }
 .sections-wrapper {
     padding-top: 30px;
     padding-bottom: 0px;
 }
 .latest .divider {
     margin-bottom: 15px;
     margin-top: 15px;
 }
 .latest .item {
     margin-bottom: 15px;
 }
 .section .heading {
     margin-top: 0;
    margin-bottom: 30px;
    color: #333;
    font-size: 22px;
    font-weight: normal;
    background: #ddd;
    padding: 5px;
    text-align: center;
    font-family: Lato;
 }
 .section {
     margin-bottom: 5px;
 }
 .footer {
     margin-top: 50px;
 }
#navlist li a {
    text-decoration: underline;
}
#navlist li a:hover {
    text-decoration: none;
}
ul#navlist {
    float: left;
    display: block;
    position: relative;
    width: 50%;
}
.profile-content {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.call{
    margin-top: 2px;
    border: 2px solid #58ca7e;
    background: #58ca7e;
    padding: 4px 15px !important;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
	font-size:15px;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:1px;
}
.call:hover{
    color: #fff;
    border: 2px solid #45c46f;
    background: #45c46f;
}
label{display: inherit;}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    overflow: auto;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: inherit;
    background-color: transparent;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 14px 0;
    margin-right: 25px;
}
.navbar-default .nav>li>a:hover{
    text-decoration: none;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #3AAA64;
    text-decoration: underline;
}